.btn {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
}

.btn table {
  width: auto;
}

.btn table td {
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.btn a {
  background-color: #ffffff;
  border: solid 1px #0588F0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0588F0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-primary table td {
  background-color: #0588F0;
}

.btn-primary a {
  background-color: #0588F0;
  border-color: #0588F0;
  color: #ffffff;
}

.auth-code {
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.auth-code > tbody > tr > td {
  padding-bottom: 15px;
}

.auth-code table {
  width: auto;
}

.auth-code table td {
  border-radius: 5px;
  text-align: center;
}

.auth-code table td > code {
  padding: 12px 25px;
  border: dashed 2px #ddd;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 1px;
}
