html {
    overflow-y: auto;
}

.d-grid {
    display: grid;
    gap: 0.25em;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 959px) {
    .d-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .d-grid-item {
        grid-column: 1 / 1 !important;
    }
}

/* Global font sizes can't be set through the Vuetify configuration. */
.v-theme--CompactTheme {
    font-size: 0.85rem;

    .v-card-title,
    .v-list-item-title,
    .v-toolbar-title {
        font-size: 1rem;
    }

    .v-btn {
        min-width: 0px;
        padding: 0 8px;
    }
}
