[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "navlungo_client"
version = "0.1"
authors = [
    { name = "Cem Uzunoglu, Deepseek R1, Gemini Pro 2.0", email = "jimqode@gmail.com" },
]
description = "A quick and dirty api client for Navlungo Domestic API"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

dependencies = [
    "requests",
    "pydantic",
]

[project.urls]
# "Homepage" = "https://example.com"

[tool.setuptools.packages.find]
where = ["."]
include = ["navlungo_client*"]
[tool.bumpver]
current_version = "2025.1006-alpha"
version_pattern = "YYYY.BUILD[-TAG]"
commit_message = "bump version {old_version} -> {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
pre_commit_hook = ""
post_commit_hook = ""
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
]
"README.md" = [
    "{version}",
    "{pep440_version}",
]

