---
name: ci

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # python-version: ["3.11", "3.12"]
        # os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.12"]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run --no-dev --group test pytest --doctest-modules --cov --cov-config=pyproject.toml --cov-report=xml -m "not regression"

      - name: Upload coverage reports to Codecov on Python 3.12
        uses: codecov/codecov-action@v5
        if: ${{ matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
