[project]
name = "luxtools"
version = "0.1.1"
description = "A collection of tools and utilities that I use in my work."
readme = "readme.md"
authors = [
    { name = "lux", email = "luna@lunalux.io" }
]
requires-python = ">=3.13"
dependencies = [
    "trycast>=1.2.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "numpy>=2.2.3",
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "torch>=2.6.0",
]

[tool.uv.sources]
torch = [
  { index = "pytorch-cpu" },
]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true
